/* Imports */

/* FIXME: Fix the import (not working) */
@import url('//fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&display=swap');
@import "variables.css";

/* Animations */

@keyframes fade-up {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-in-mini {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.15;
    }
}

@keyframes zoom-in {
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(1);
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes up-down {
    0% {
        transform: translateY(var(--up-down-amplitude));
    }
    50% {
        transform: translateY(calc(var(--up-down-amplitude) * -1));
    }
    100% {
        transform: translateY(var(--up-down-amplitude));
    }
}

/* General */

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    background-image: url("/assets/img/bg_placeholder.png"), linear-gradient(to bottom, #646464, #646464);
    /*background-size: cover;*/
    background-repeat: repeat;
}

* {
    font-family: "Fredoka", sans-serif;
}

.hidden {
    display: none !important;
}

.fade-hidden {
    animation: hide 0.5s 1 forwards;
}

/* Header */

header {
    height: var(--header-height);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.70), transparent);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 2rem;

    color: white;
}

header a {
    border: solid rgba(255, 255, 255, 0.3) 2px;
    border-radius: 50px;

    color: white;
    text-decoration: none;

    padding: 9px 30px;
}

header a.current {
    border: solid var(--light-gold) 2px;
}

ul {
    display: inline-block;
    padding: 0;
}

ul > li {
    display: inline-block;
    margin-right: 1rem;
}

ul > li:last-child {
    margin-right: 0;
}

#univ-aside {
    display: flex;
    align-items: center;
}

#univ-aside p {
    text-align: right;
    margin-right: 1rem;
}

#univ-aside img {
    height: 50px;
}

/* Main */

main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

main, #title-container, #game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-container:not(.hidden) {
    height: 100vh;
}

#game {
    border-radius: 15px;
    /*border: solid var(--light-gold) 2px;*/
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.4);
    animation: zoom-in 0.35s 1 forwards;
}

#logo {
    height: 150px;
    opacity: 0;
    animation: fade-up 1.5s 1 forwards;
    animation-delay: 0.2s;
    transition: all var(--back);
    -webkit-animation-timing-function: var(--back);
    transition-timing-function: var(--back);
}

#logo-mini {
    opacity: 0;
    height: 40px;
    margin-bottom: 1rem;
    animation: fade-in-mini 0.5s 1 forwards;
    animation-delay: 0.55s;
}

#subtitle, #play-btn {
    opacity: 0;
    animation: fade-in 1s 1 forwards;
}

#subtitle {
    text-align: center;
    color: var(--light-gold);
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.5px;

    animation-delay: 0.8s;
}

#play-btn {
    cursor: pointer;
    color: var(--brown);
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 1px;
    background-color: var(--light-gold);
    border: solid var(--brown) 5px;
    border-radius: 50px;
    padding: 15px 60px;
    margin-top: 1rem;

    animation-delay: 1.75s;
    transition: 150ms;
}

#play-btn:hover {
    border: solid #d99b4b 5px;
    transform: scale(1.1);
    transition: 150ms;
}

#play-btn:active {
    border: solid #c77b1e 5px;
    transform: scale(0.95);
    transition: 150ms;
}

/* Overlay */

#overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transition: background-color 1s;
}

#overlay.dim {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

/* Game elements */

#chatbox {
    transform: translateY(130%);
    width: calc(860px * 0.6); /* TODO: Replace with dynamic width (depending on game constants) */
    height: calc(191px * 0.6); /* TODO: Ditto */
    padding: 0 2.5rem;

    position: relative;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chatbox .bg {
    position: absolute;
    top: 0;
    left: 0;
}

#chatbox .enter {
    z-index: 1;
    width: 75px;

    animation: up-down 1.25s infinite;
    animation-timing-function: ease-in-out;
}

#chatbox span {
    z-index: 1;

    margin-right: 0.5rem;

    color: var(--light-gold);
    font-size: 1.2rem;
    font-weight: 500;
}

/* Footer */

footer {
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    color: white;

    height: var(--footer-height);
    display: flex;
    justify-content: center;
    align-items: center;
}