:root {
    /* General */

    --header-height: 120px;
    --footer-height: 100px;

    /* Colors */

    --light-gold: #f9f4df;
    --brown: #461a03;

    /* Transitions & Animations */

    --back: cubic-bezier(0.260, 1.565, 0.415, 1.015);
    --up-down-amplitude: 2px;

    /* Chat box */

    --chat-box-scale: 0.6;
    --chat-box-width: 860px;
    --chat-box-height: 191px;
    --chat-box-eff-width: calc(var(--chat-box-width) * var(--chat-box-scale));
    --chat-box-eff-height: calc(var(--chat-box-height) * var(--chat-box-scale));

    /* Archive */

    --archive-title: #e6e4dc;
    --archive-content: #5a3e37;
}